
  <ion-header>
    <ion-toolbar appHighlight>
      <ion-title appHighlight>
        Adivina un Numero - Jose Antonio Benitez Ruiz
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div id="cardTry">
    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-label position="floating" style="color: #535a2d ;">Introduce el numero:</ion-label>
          <ion-input style="color: #535a2d;" [(ngModel)]="num"></ion-input>
        </ion-item>
        <div style="text-align:center"> <!--Centro el botón-->
          <ion-button (click)="tryIt(num)">Try</ion-button>
        </div>
        
      </ion-card-content>
    </ion-card>
  </div>


  <ion-card>  
    <ion-card-content *ngIf="estado_!=2">
      <ion-text id="showMeNum">{{randomNumber}}</ion-text>
      <div>
        <ion-text style="color: #535a2d;" *ngIf="estado_==1">El numero a adivinar es mayor</ion-text>
        <ion-text style="color: #535a2d;" *ngIf="estado_==-1">El numero a adivinar es menor</ion-text>
        <div *ngIf="estado_==0">
          <ion-text style="color: #535a2d;">Has acertado!</ion-text>
          <div style="text-align:center"> <!--Centro el botón-->
            <ion-button (click)="restartIt()">Restart</ion-button>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
